<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div>
      <p>Dear {{fullName}}</p>
      <p>Use the Code Below to Reset Your Password. Code is Valid for Ten
        Minutes
        <span style="font-size: larger; color:blue">{{otp}}</span></p>
    </div>
  </body>
</html>